ai-news-summarizer.json
{
  "name": "AI News Summarizer to Slack (Groq)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": 60
        }
      },
      "id": "1",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss",
        "responseFormat": "string"
      },
      "id": "2",
      "name": "Fetch Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": [
          {
            "name": "title",
            "value": "={{$json[\"rss\"][\"channel\"][0][\"item\"][0][\"title\"][0]}}"
          },
          {
            "name": "link",
            "value": "={{$json[\"rss\"][\"channel\"][0][\"item\"][0][\"link\"][0]}}"
          },
          {
            "name": "description",
            "value": "={{$json[\"rss\"][\"channel\"][0][\"item\"][0][\"description\"][0]}}"
          }
        ]
      },
      "id": "4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => ({ json: {\n  title: item.json.title,\n  link: item.json.link,\n  description: item.json.description\n} }));"
      },
      "id": "5",
      "name": "Code",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "p"
            }
          ]
        }
      },
      "id": "6",
      "name": "HTML",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "individualSummaryPrompt": "You are a strict formatter. Summarize the article into EXACTLY the format below.\n\n📰 Headline: <short headline of the article>\n📌 Summary: <2–3 line summary in plain language>\n#Hashtags: <3–5 relevant hashtags>\n🔗 Read more: <original article link>\n\nArticle:\n{{title}}\n{{description}}\n{{content}}\nLink: {{link}}",
        "finalPrompt": "Combine all summaries into one message. Keep each article in the SAME format, one after the other, with no extra text.\n\n📰 Headline: ...\n📌 Summary: ...\n#Hashtags: ...\n🔗 Read more: ..."
      },
      "id": "7",
      "name": "Summarization Chain",
      "type": "n8n-nodes-base.summarizationChain",
      "typeVersion": 1,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "operation": "post",
        "text": "{{$json[\"data\"]}}",
        "channel": ""
      },
      "id": "8",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1600, 300],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "temperature": 0.3
      },
      "id": "9",
      "name": "Groq Chat Model",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1400, 500],
      "credentials": {
        "groqApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "model",
            "index": 0
          }
        ]
      ]
    }
  }
}
